<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/style.css" media="screen" />
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</head>

<body>
  <form id='register_form' method="post">
    <input class="formname" name="username" type="text" placeholder="请输入用户名" />
    <br />
    <input class="formname" name="password" type="text" placeholder="请输入密码" />
    <br />
    <input class="formname" name="email" type="text" placeholder="请输入邮箱" />
    <br />
    <button>{{btnName}}</button>
  </form>
  <div id="userlist"></div>
  <!-- jQuery实现代码  -->
  <script src="js/register.js"></script>
</body>

</html>