<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	<link rel="stylesheet" href="css/style.css" media="screen" />
</head>

<body>
  <form action="/logged" method="post">
    <input class="formname" name="name" type="text" placeholder="请输入用户名" />
    <br/>
    <input class="formname" name="password" type="text" placeholder="请输入密码" />
    <br/>
    <button>{{btnName}}</button>
  </form>
</body>

</html>